Resources/flow/YARN-Application-Monitor.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>Flow to monitor Yarn Application and alert on Failure or when Killed</description><name>YARN-Application-Monitor</name><snippet><controllerServices><id>8a9c00a7-ee86-4c5d-9c23-8cad70879887</id><comments></comments><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>DistributedMapCacheClientService</name><properties><entry><key>Server Hostname</key><value>node1</value></entry><entry><key>Server Port</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Communications Timeout</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the cache key</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>8a9c00a7-ee86-4c5d-9c23-8cad70879887</value></allowableValues><description>The Controller Service that is used to cache flow files</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Cache update strategy</key><value><allowableValues><description>Adds the specified entry to the cache, replacing any value that is currently set.</description><displayName>Replace if present</displayName><value>replace</value></allowableValues><allowableValues><description>Adds the specified entry to the cache, if the key does not exist.</description><displayName>Keep original</displayName><value>keeporiginal</value></allowableValues><defaultValue>replace</defaultValue><description>Determines how the cache is updated if the cache already contains the entry</description><displayName>Cache update strategy</displayName><dynamic>false</dynamic><name>Cache update strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max cache entry size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to put into cache</description><displayName>Max cache entry size</displayName><dynamic>false</dynamic><name>Max cache entry size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>e0d85c46-dd26-48d5-9e1d-a5e30f234b76</id><name>PutDistributedMapCache</name><properties><entry><key>Cache Entry Identifier</key><value>${id}</value></entry><entry><key>Distributed Cache Service</key><value>8a9c00a7-ee86-4c5d-9c23-8cad70879887</value></entry><entry><key>Cache update strategy</key><value>keeporiginal</value></entry><entry><key>Max cache entry size</key><value>3 MB</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.PutDistributedMapCache</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></controllerServices><processGroups><id>170fa9c7-542e-4acd-90c8-b130acb0c9c7</id><parentGroupId>68fb3488-6da5-47ab-acd1-38e852f9a94f</parentGroupId><position><x>137.3076335066057</x><y>20.75481414794922</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>d3ada8db-80d3-4170-b220-f4736cadba5e</id><parentGroupId>68fb3488-6da5-47ab-acd1-38e852f9a94f</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>b6c90ed1-5af5-40fc-9f3b-e687dc41c4e7</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>a2617fe9-30b7-40f1-a835-d25d1831ab4b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7c052fc9-cace-4e3b-9b82-667c129de8db</id><parentGroupId>68fb3488-6da5-47ab-acd1-38e852f9a94f</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>a2617fe9-30b7-40f1-a835-d25d1831ab4b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>f1c1fec9-40b9-4127-b3e4-72f082f3e39b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5b1d2b92-6eff-4133-9f71-6764cc0c533f</id><parentGroupId>68fb3488-6da5-47ab-acd1-38e852f9a94f</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>e0d85c46-dd26-48d5-9e1d-a5e30f234b76</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>b6c90ed1-5af5-40fc-9f3b-e687dc41c4e7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7602709e-c231-4041-9a8c-ab29a0579a11</id><parentGroupId>68fb3488-6da5-47ab-acd1-38e852f9a94f</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>0fe50002-9bb4-4f4b-a7ab-db2c63c4d3a6</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</groupId><id>e0d85c46-dd26-48d5-9e1d-a5e30f234b76</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>f1c1fec9-40b9-4127-b3e4-72f082f3e39b</id><parentGroupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</parentGroupId><position><x>142.08493041992188</x><y>20.872604370117188</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to pull from</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Filename</key><value><description>The filename to assign to the file when pulled</description><displayName>Filename</displayName><dynamic>false</dynamic><name>Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Accept Content-Type</key><value><description>If specified, requests will only accept the provided Content-Type</description><displayName>Accept Content-Type</displayName><dynamic>false</dynamic><name>Accept Content-Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://node1:8088/ws/v1/cluster/apps?states=KILLED,FAILED</value></entry><entry><key>Filename</key><value>Job_History</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>User Agent</key></entry><entry><key>Accept Content-Type</key></entry><entry><key>Follow Redirects</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetHTTP</name><relationships><autoTerminate>false</autoTerminate><description>All files are transferred to the success relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetHTTP</type></processors><processors><id>b6c90ed1-5af5-40fc-9f3b-e687dc41c4e7</id><parentGroupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</parentGroupId><position><x>143.27399474446088</x><y>179.04233824713708</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>applicationType</key><value><description></description><displayName>applicationType</displayName><dynamic>true</dynamic><name>applicationType</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>app-name</key><value><description></description><displayName>app-name</displayName><dynamic>true</dynamic><name>app-name</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>id</key><value><description></description><displayName>id</displayName><dynamic>true</dynamic><name>id</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>queue</key><value><description></description><displayName>queue</displayName><dynamic>true</dynamic><name>queue</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>state</key><value><description></description><displayName>state</displayName><dynamic>true</dynamic><name>state</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>trackingUrl</key><value><description></description><displayName>trackingUrl</displayName><dynamic>true</dynamic><name>trackingUrl</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>user</key><value><description></description><displayName>user</displayName><dynamic>true</dynamic><name>user</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>warn</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>applicationType</key><value>$.applicationType</value></entry><entry><key>app-name</key><value>$.name</value></entry><entry><key>filename</key><value>$.id</value></entry><entry><key>id</key><value>$.id</value></entry><entry><key>queue</key><value>$.queue</value></entry><entry><key>state</key><value>$.state</value></entry><entry><key>trackingUrl</key><value>$.trackingUrl</value></entry><entry><key>user</key><value>$.user</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>e0d85c46-dd26-48d5-9e1d-a5e30f234b76</id><parentGroupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</parentGroupId><position><x>662.5224414079229</x><y>180.59634558754874</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cache Entry Identifier</key><value><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the cache key</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>8a9c00a7-ee86-4c5d-9c23-8cad70879887</value></allowableValues><description>The Controller Service that is used to cache flow files</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Cache update strategy</key><value><allowableValues><description>Adds the specified entry to the cache, replacing any value that is currently set.</description><displayName>Replace if present</displayName><value>replace</value></allowableValues><allowableValues><description>Adds the specified entry to the cache, if the key does not exist.</description><displayName>Keep original</displayName><value>keeporiginal</value></allowableValues><defaultValue>replace</defaultValue><description>Determines how the cache is updated if the cache already contains the entry</description><displayName>Cache update strategy</displayName><dynamic>false</dynamic><name>Cache update strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max cache entry size</key><value><defaultValue>1 MB</defaultValue><description>The maximum amount of data to put into cache</description><displayName>Max cache entry size</displayName><dynamic>false</dynamic><name>Max cache entry size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cache Entry Identifier</key><value>${id}</value></entry><entry><key>Distributed Cache Service</key><value>8a9c00a7-ee86-4c5d-9c23-8cad70879887</value></entry><entry><key>Cache update strategy</key><value>keeporiginal</value></entry><entry><key>Max cache entry size</key><value>3 MB</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutDistributedMapCache</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be inserted into the cache will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully inserted into cache will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutDistributedMapCache</type></processors><processors><id>a2617fe9-30b7-40f1-a835-d25d1831ab4b</id><parentGroupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</parentGroupId><position><x>657.9863891601562</x><y>20.75481414794922</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JsonPath Expression</key><value>$.apps.app</value></entry><entry><key>Null Value Representation</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitJson</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>0fe50002-9bb4-4f4b-a7ab-db2c63c4d3a6</id><parentGroupId>170fa9c7-542e-4acd-90c8-b130acb0c9c7</parentGroupId><position><x>137.3076335066057</x><y>341.47129629857363</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>SMTP Hostname</key><value><description>The hostname of the SMTP host</description><displayName>SMTP Hostname</displayName><dynamic>false</dynamic><name>SMTP Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Port</key><value><defaultValue>25</defaultValue><description>The Port used for SMTP communications</description><displayName>SMTP Port</displayName><dynamic>false</dynamic><name>SMTP Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Username</key><value><description>Username for the SMTP account</description><displayName>SMTP Username</displayName><dynamic>false</dynamic><name>SMTP Username</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Password</key><value><description>Password for the SMTP account</description><displayName>SMTP Password</displayName><dynamic>false</dynamic><name>SMTP Password</name><required>false</required><sensitive>true</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Auth</key><value><defaultValue>true</defaultValue><description>Flag indicating whether authentication should be used</description><displayName>SMTP Auth</displayName><dynamic>false</dynamic><name>SMTP Auth</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP TLS</key><value><defaultValue>false</defaultValue><description>Flag indicating whether TLS should be enabled</description><displayName>SMTP TLS</displayName><dynamic>false</dynamic><name>SMTP TLS</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Socket Factory</key><value><defaultValue>javax.net.ssl.SSLSocketFactory</defaultValue><description>Socket Factory to use for SMTP Connection</description><displayName>SMTP Socket Factory</displayName><dynamic>false</dynamic><name>SMTP Socket Factory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP X-Mailer Header</key><value><defaultValue>NiFi</defaultValue><description>X-Mailer used in the header of the outgoing email</description><displayName>SMTP X-Mailer Header</displayName><dynamic>false</dynamic><name>SMTP X-Mailer Header</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content Type</key><value><defaultValue>text/plain</defaultValue><description>Mime Type used to interpret the contents of the email, such as text/plain or text/html</description><displayName>Content Type</displayName><dynamic>false</dynamic><name>Content Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>From</key><value><description>Specifies the Email address to use as the sender</description><displayName>From</displayName><dynamic>false</dynamic><name>From</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>To</key><value><description>The recipients to include in the To-Line of the email</description><displayName>To</displayName><dynamic>false</dynamic><name>To</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>CC</key><value><description>The recipients to include in the CC-Line of the email</description><displayName>CC</displayName><dynamic>false</dynamic><name>CC</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>BCC</key><value><description>The recipients to include in the BCC-Line of the email</description><displayName>BCC</displayName><dynamic>false</dynamic><name>BCC</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Subject</key><value><defaultValue>Message from NiFi</defaultValue><description>The email subject</description><displayName>Subject</displayName><dynamic>false</dynamic><name>Subject</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Message</key><value><defaultValue></defaultValue><description>The body of the email message</description><displayName>Message</displayName><dynamic>false</dynamic><name>Message</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Attach File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies whether or not the FlowFile content should be attached to the email</description><displayName>Attach File</displayName><dynamic>false</dynamic><name>Attach File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include All Attributes In Message</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies whether or not all FlowFile attributes should be recorded in the body of the email message</description><displayName>Include All Attributes In Message</displayName><dynamic>false</dynamic><name>Include All Attributes In Message</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>SMTP Hostname</key><value>west.exch080.serverdata.net</value></entry><entry><key>SMTP Port</key><value>587</value></entry><entry><key>SMTP Username</key><value>jgeorge@hortonworks.com</value></entry><entry><key>SMTP Password</key></entry><entry><key>SMTP Auth</key></entry><entry><key>SMTP TLS</key></entry><entry><key>SMTP Socket Factory</key></entry><entry><key>SMTP X-Mailer Header</key></entry><entry><key>Content Type</key><value>text/plain</value></entry><entry><key>From</key><value>jgeorge@hortonworks.com</value></entry><entry><key>To</key><value>jgeorge@hortonworks.com</value></entry><entry><key>CC</key></entry><entry><key>BCC</key></entry><entry><key>Subject</key><value>YARN Application with id: ${id} ${state}</value></entry><entry><key>Message</key><value>YARN Application With id: ${id} ${state}

DETAILS:
-----------------------------------------------------------------------------------------------
Application Id			:		${id} 
Application Status		:		${state}
Submitted by User		:		${user}
Queue Submitted			:		${queue}
Application Name		:		${app-name}
Application Type		:		${applicationType}
Application Url	 		:		${trackingUrl}
-----------------------------------------------------------------------------------------------</value></entry><entry><key>Attach File</key></entry><entry><key>Include All Attributes In Message</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutEmail</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that fail to send will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that are successfully sent will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutEmail</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>YARN-Application-Monitor</name><outputPortCount>0</outputPortCount><parent><id>68fb3488-6da5-47ab-acd1-38e852f9a94f</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>5</stoppedCount></processGroups></snippet><timestamp>06/30/2016 18:30:30 EDT</timestamp></template>